* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --wrapper-width: 80rem;
  /*--------------------- COLORS ---------------------*/
  --primary-theme: #9aae04; /*VERDE*/
  --second-theme: #d9d9d9; /*GRIS*/
  --border-color: #777; /*GRIS OSCURO*/
  --terciary-color: #ffffff; /*BLANCO*/
  /*--------------------- END COLORS ---------------------*/
  /*--------------------- FONTS ---------------------*/
  --font-primary: "verdana";
  --base_font_size: 1rem;
  --base_titles_size: 2rem;
  --big_titles_size: 3rem;
  /*--------------------- END FONTS ---------------------*/
  /*--------------------- SPACING ---------------------*/
  --base_spacing-size: 1rem; /*Margin y Padding*/
  /*--------------------- END SPACING ---------------------*/
}

/*--------------------- GENERAL ---------------------*/
html {
  font-family: var(--font-primary);
  font-size: var(--base_font_size);
}
/*--------------------- END GENERAL ---------------------*/

/*--------------------- WRAPPER ---------------------*/

/*--------------------- END WRAPPER ---------------------*/

/*--------------------- HEADER ---------------------*/
.header {
  background-color: var(--second-theme);
  width: 100%;
}

.header-content {
  width: var(--wrapper-width);
  margin: 0 auto;
}

.title-header {
  font-size: var(--big_titles_size);
  margin-bottom: var(--base_spacing-size);
}

.nav-menu {
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: var(--base_spacing-size);
}



.nav-link {
  border: 1px solid var(--border-color);
  padding: 15px;
  background: var(--terciary-color);
  transform:translate(0px,0px);
 
}
.nav-link:first-child {
  transform:translate(0px,0px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out; 
  -ms-transition: all 500ms ease-in-out; 
  -o-transition: all 500ms ease-in-out;   
  z-index: 1;
}

.nav-link:first-child:hover {
 transform: translate(30px,-20px);
 z-index: 2;
}


.nav-item {
  color: var(--primary-theme);
  text-decoration: none;
}
/*--------------------- END HEADER ---------------------*/

/*--------------------- MENU -------------------*/

/*--------------------- END MENU -------------------*/

/*--------------------- BODY BASE -------------------*/

.wrapper {
  margin: 0 auto;
  width: var(--wrapper-width);
}

/*--------------------- END BODY BASE -------------------*/

/*--------------------- FORM -------------------*/

/*--------------------- END FORM -------------------*/

/*--------------------- TABLE -------------------*/

/*--------------------- END TABLE -------------------*/
